<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品登録</title>
</head>

<body>

	<h1>商品登録</h1>
	<ul th:if="${memos}">
		<li th:each="memo:${memos}" th:text="${memo}" style="color:red">
		</li>
	</ul>
	<form action="/items/add" method="post">
		<table border="1">
			<tr>
				<th>カテゴリーID</th>
				<td>
					<input type="number" name="categoryId">
				</td>
			</tr>
			<tr>
				<th>商品名</th>
				<td><input type="text" name="name">
				</td>
			</tr>
			<tr>
				<th>値段</th>
				<td>
					<input type="number" name="price">
				</td>
			</tr>
		</table>
		<button>登録</button>
	</form>
</body>

</html>