<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品更新</title>
</head>

<body>

	<h1>商品更新</h1>
	<ul th:if="${memos}" style="color:red;">
		<li th:each="error:${memos}" th:text="${error}">
		</li>
	</ul>
	<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="post">
		<table border="1">
			<tr>
				<th>商品ID</th>
				<td th:text="${item.id}"></td>
			</tr>
			<tr>
				<th>カテゴリーID</th>
				<td><input type="number" name="categoryId" th:value="${item.categoryId}"></td>
			</tr>
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" th:value="${item.name}"></td>
			</tr>
			<tr>
				<th>値段</th>
				<td><input type="number" name="price" th:value="${item.price}"></td>
			</tr>
		</table>
		<button>更新</button>
	</form>
</body>

</html>